@model ExcursionsDomain.Model.Excursion
@using ExcursionsDomain.Model
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

@{
    ViewData["Title"] = Model.Name;
}

<h1 class="display-4">@Model.Name</h1>

<div>
    <hr />
    <ul class="details-cat-list">
        @foreach(var category in Model.Categories)
        {
            <li>
                <a class="btn btn-outline-info" href="@Url.Action("Details", "Categories", new { id = category.Id })">@category.Name</a>
            </li>
        }
    </ul>

    <div class="card-cat-inner">
        <h4>@Model.Date.ToString("dd.MM.yyyy") о @Model.Date.ToString("HH:mm")</h4>
        <h4>@Model.Price грн/чол</h4>
    </div>
    <p class="lead" style="margin-top:20px; font-style:italic;">@Model.Description</p>

    <div class="details-excur-more-info">
        <h2 style="margin-bottom:10px;">Додаткова інформація</h2>
        <p><strong>Максимальна кількість відвідувачів: </strong>@Model.MaxPeopleAmount чоловік</p>
        <p><strong>Тривалість: </strong>@Model.Duration год</p>
        <p><strong>Міста: </strong>@Html.Raw(string.Join(", ", Model.Places.Select(p => p.City.Name).Distinct()))</p>
        <p><strong>План відвідувань: </strong>@Html.Raw(string.Join(", ", Model.Places.Select(p => p.Name)))</p>
    </div>
   
</div>
<h2 style="margin-bottom:10px;">Маршрут екскурсії на карті</h2>
<div id="map" style="height: 500px; width: 100%;"></div>


<script>
    var map = L.map('map').setView([50.450441, 30.52355], 4); 

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);
 
    @foreach (var place in Model.Places)
    {
        <text>
             var marker = L.marker([@place.CoordinateX, @place.CoordinateY]).addTo(map);
             marker.bindPopup("@place.Name");
        </text>
    }
</script>
<div class="cat-details-btns">
    @if(User.Identity.IsAuthenticated && !User.IsInRole("admin"))
    {
        @if (Model.Visitors.Count() == Model.MaxPeopleAmount && !((IEnumerable<Excursion>)ViewBag.Visitor.Excursions).Any(e => e.Id == Model.Id))
        {
            <button class="btn btn-outline-danger disabled">Немає вільних місць...</button>
        }
        @if (((IEnumerable<Excursion>)ViewBag.Visitor.Excursions).Any(e => e.Id == Model.Id))
        {
            @Html.ActionLink("Скасувати запис на екскурсію", "DeleteExcursion", "Visitors", new { excur_id = Model.Id }, new { @class = "btn btn-outline-danger" })
        }
        @if (!((IEnumerable<Excursion>)ViewBag.Visitor.Excursions).Any(e => e.Id == Model.Id) && Model.Visitors.Count() != Model.MaxPeopleAmount)
        {
            @Html.ActionLink("Записатися на екскурсію", "AddExcursion", "Visitors", new { excur_id = Model.Id }, new { @class = "btn btn-outline-info" })
        }
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a>
    }
    <a class="btn btn-outline-info" asp-action="Index">До всіх екскурсій</a>
</div>

  