@model ExcursionsDomain.Model.Excursion
@using ExcursionsDomain.Model
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

@{
    ViewData["Title"] = Model.Name;
}

<h1 class="display-4">@Model.Name</h1>

<div>
    <hr />
    <ul class="list-group list-group-horizontal">
        @foreach(var category in Model.Categories)
        {
            <li class="list-group-item">
                <a href="@Url.Action("Details", "Categories", new { id = category.Id })">@category.Name</a>
            </li>
        }
    </ul>
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Model.Date.ToString("dd.MM.yyyy") о @Model.Date.ToString("HH:mm")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPeopleAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPeopleAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Model.Price грн/чол
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Model.Duration год
        </dd>
        <dt class="col-sm-2">
            Міста
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(string.Join(", ",Model.Places.Select(p => p.City.Name).Distinct()))
        </dd>
        <dt class="col-sm-2">
            План відвідувань
        </dt>
        <dd class="col-sm-10">

            @Html.Raw(string.Join(", ", Model.Places.Select(p => p.Name)))
        </dd>
    </dl>
</div>
<h2>Маршрут екскурсії на карті</h2>
<div id="map" style="height: 500px; width: 100%;"></div>


<script>
    var map = L.map('map').setView([50.450441, 30.52355], 4); 

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);
 
    @foreach (var place in Model.Places)
    {
        <text>
             var marker = L.marker([@place.CoordinateX, @place.CoordinateY]).addTo(map);
             marker.bindPopup("@place.Name");
        </text>
    }
</script>
<div>
    @if (((IEnumerable<Excursion>)ViewBag.Visitor.Excursions).Any(e => e.Id == Model.Id))
    {
        @Html.ActionLink("Скасувати запис на екскурсію", "DeleteExcursion", "Visitors", new { excur_id = Model.Id })
    }
    @if (!((IEnumerable<Excursion>)ViewBag.Visitor.Excursions).Any(e => e.Id == Model.Id))
    {
        @Html.ActionLink("Записатися на екскурсію", "AddExcursion", "Visitors", new { excur_id = Model.Id })
    } |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">До всіх екскурсій</a>
</div>

  