@model ExcursionsDomain.Model.Excursion

@{
    ViewData["Title"] = Model.Name;
}

<h1 class="display-4">@Model.Name</h1>

<div>
    <hr />
    <ul class="list-group list-group-horizontal">
        @foreach(var category in Model.Categories)
        {
            <li class="list-group-item">
                <a href="@Url.Action("Details", "Categories", new { id = category.Id })">@category.Name</a>
            </li>
        }
    </ul>
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Model.Date.ToString("dd.MM.yyyy") о @Model.Date.ToString("HH:mm")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPeopleAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPeopleAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Model.Price грн/чол
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Model.Duration год
        </dd>
        <dt class="col-sm-2">
            Міста
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(string.Join(", ",Model.Places.Select(p => p.City.Name)))
        </dd>
        <dt class="col-sm-2">
            План відвідувань
        </dt>
        <dd class="col-sm-10">

            @Html.Raw(string.Join(", ", Model.Places.Select(p => p.Name)))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">До всіх екскурсій</a>
</div>
