@model IEnumerable<ExcursionsDomain.Model.Excursion>
@using ExcursionsDomain.Model

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_vapor.min.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

@{
    ViewData["Title"] = "Екскурсії";
}

<h1>Екскурсії та тури</h1>

<p>
    <a asp-action="Create">Додати екскурсію</a>
</p>



<form asp-action="Filter" class="form-filter">
    <div>
        <input type="text" style="margin-bottom:20px;" class="form-control" placeholder="Назва екскурсії" id="nameFilter" name="nameFilter">
    </div>
    <div class="form-group">
        <input type="text"
               placeholder="Дата початку екскурсії"
               onfocus="(this.type='date')"
               onblur="(this.type='text')" 
               class="form-control" 
               id="dateFilter" 
               name="dateFilter">
    </div>
    <div class="filter-box">
        <div>
            <select class="selectpicker s1"
                    data-style="btn-dark"
                    data-size="5"
                    multiple
                    data-live-search="true"
                    asp-items="ViewBag.Categories"
                    title="Оберіть категорії..."
                    name="selectedCategories"></select>
        </div>
        <div>
            <select class="selectpicker s5"
                    data-style="btn-dark"
                    data-size="5"
                    data-live-search="true"
                    asp-items="ViewBag.Prices"
                    title="Оберіть ціновий діапазон..."
                    name="selectedPrices"></select>
        </div>
        <div>
            <select class="selectpicker s2"
                    data-style="btn-dark"
                    data-size="5"
                    multiple
                    data-live-search="true"
                    asp-items="ViewBag.Places"
                    title="Оберіть місця проведення..."
                    name="selectedPlaces"></select>
        </div>

        <div>
            <select class="selectpicker s3"
                    data-style="btn-dark"
                    data-size="5"
                    multiple
                    data-live-search="true"
                    asp-items="ViewBag.Cities"
                    title="Оберіть міста..."
                    name="selectedCities"></select>
        </div>
        <div>
            <select class="selectpicker s4"
                    data-style="btn-dark"
                    data-size="5"
                    multiple
                    data-live-search="true"
                    asp-items="ViewBag.Countries"
                    title="Оберіть країни..."
                    name="selectedCountries"></select>
        </div>
        <div>
            <select class="selectpicker s6"
                    data-style="btn-dark"
                    title="Оберіть ціновий діапазон..."
                    name="selectedDuration">
                <option value="1">Короткотривалі (0-5 годин)</option>
                <option value="2">Одноденні (6-24 годин)</option>
                <option value="3">Багатоденні (більше 24 годин)</option>
            </select>
        </div>
        <div>
            <select class="selectpicker s7"
                    data-style="btn-dark"
                    title="Оберіть кількість людей..."
                    name="selectedPeopleAm">
                <option value="1">Малі групи (1-10 чоловік)</option>
                <option value="2">Середні групи (11-40 чоловік)</option>
                <option value="3">Великі групи (більше 40 чоловік)</option>
            </select>
        </div>

    </div>
    
    
   <div class="cat-details-btns filter-btn-box">
        <button class="btn btn-outline-info" type="submit">Пошук</button>
        <button class="btn btn-outline-danger" type="button" onclick="clearSearch();">Очистити</button>
   </div>
    
</form>
@if (Model.Any())
{
    <div class="card-container">
        @foreach (var item in Model.OrderBy(e => e.Date))
        {
            <div class="card border-success card-excur">
                <div class="card-body card_inner">
                    <div>
                        <h4 class="card-title" style="text-align: center;">@item.Name.ToUpper()</h4>
                        <hr />
                        <div class="card-head">
                            <p class="card-text">@item.Date.ToString("dd.MM.yyyy") о @item.Date.ToString("HH:mm")</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Price) грн/чол</p>
                        </div>
                        <p class="card-text" style="margin-bottom: 2px">МІСЦЯ ПРОВЕДЕННЯ:</p>
                        <p class="card-text">@Html.Raw(string.Join(", ", item.Places.Select(p => p.Name)))</p>
                        
                    </div>
                    
                    <div>
                        <p class="card-text duration"> Тривалість: @item.Duration год</p>
                        @if (item.Visitors.Count() == item.MaxPeopleAmount && !((IEnumerable<Excursion>)ViewBag.Visitor.Excursions).Any(e => e.Id == item.Id))
                        {
                            <button class="btn btn-outline-danger disabled card-btn card-btn-main">Немає вільних місць...</button>
                        }
                        @if (((IEnumerable<Excursion>)ViewBag.Visitor.Excursions).Any(e => e.Id == item.Id))
                        {
                            @Html.ActionLink("Скасувати запис на екскурсію", "DeleteExcursion", "Visitors", new { excur_id = item.Id }, new { @class = "btn btn-outline-danger card-btn card-btn-main" })
                        }
                        @if (!((IEnumerable<Excursion>)ViewBag.Visitor.Excursions).Any(e => e.Id == item.Id) && item.Visitors.Count() != item.MaxPeopleAmount)
                        {
                            @Html.ActionLink("Записатися на екскурсію", "AddExcursion", "Visitors", new { excur_id = item.Id }, new { @class = "btn btn-outline-info card-btn card-btn-main" })
                        }

                        <a class="btn btn-outline-info card-btn" asp-action="Details" asp-route-id="@item.Id">Докладніше</a>
                        <a class="btn btn-outline-warning card-btn" asp-action="Edit"  asp-route-id="@item.Id">Редагувати</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" style="width:100%" asp-route-id="@item.Id">Видалити</a>
                    </div>
                </div>
            </div>
        }
    </div>
 
    <div class="chart-box">
         <div class="btn-outline-info disabled chart" id="chart1"></div>
    </div>
    
}

@if (!Model.Any())
{
    <h5>Екскурсій немає.</h5>
}
<script>
    var setSelectValues = (selectNames, selectClass) => {
        var urlParams = new URLSearchParams(window.location.search);
        var selectedValues = urlParams.getAll(selectNames);
        $(selectClass).selectpicker('val', selectedValues);
    }
    var urlParams = new URLSearchParams(window.location.search);
    var selectedName = urlParams.get('nameFilter');

    const dateString = urlParams.get('dateFilter');

    if(dateString){
        const date = new Date(decodeURIComponent(dateString));
        date.setHours(23);
        const formattedDate = date.toISOString().split('T')[0];
        $('#dateFilter').val(formattedDate);
    }
    
    

    $('#nameFilter').val(selectedName);

    setSelectValues('selectedCategories', '.s1');
    setSelectValues('selectedPlaces', '.s2');
    setSelectValues('selectedCities', '.s3');
    setSelectValues('selectedCountries', '.s4');
    setSelectValues('selectedPrices', '.s5');
    setSelectValues('selectedDuration', '.s6');
    setSelectValues('selectedPeopleAm', '.s7');


</script>


<script>
        var clearSearch = () => {
        $('#nameFilter').val('');
        $('#dateFilter').val('');
        $(".selectpicker").val('').trigger('change');
    }
</script>

@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Chart/JsonData', function (JsonData) {
                var data = google.visualization.arrayToDataTable(JsonData, false);

                var options = {
                    title: "Популярність екскурсій та турів",
                    titleTextStyle: {
                        color: 'white', 
                        fontSize: 15, 
                        bold:true
                    },
                    vAxis: {
                        format: '0',
                        textStyle: {
                            color: 'white'
                        }
                    },
                    colors: ['green'],
                    legend: {
                        textStyle: {
                            color: 'white'
                        },
                        alignment: 'end',
                        position: 'top',
                        maxLines: 2,
                        textStyle: {
                            color: 'white' 
                        }
                    },
                    hAxis: {
                        textStyle: {
                            color: 'white' 
                        }
                    },
                    backgroundColor: 'transparent' 
                };
                var chart = new google.visualization.ColumnChart(document.getElementById('chart1'));
                chart.draw(data, options);
            });
        }
    </script>
}
    