@model ExcursionsDomain.Model.City

@{
    ViewData["Title"] = @Model.Name;
}

<h1 class="display-4">@Model.Name</h1>
<hr />

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
    </dl>
</div>
<hr />
@if (Model.Places.Any())
{
    <div>
        <h4>Місця проведення екскурсій в цьому місті:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Місце
                    </th>
                    <th>
                        Адреса
                    </th>
                    <th>
                        Координата X
                    </th>
                    <th>
                        Координата Y
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Places)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoordinateX)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoordinateY)
                        </td>
                        <td>
                            @Html.ActionLink("Редагувати", "Edit", "Places", new { id = item.Id }) |
                            @Html.ActionLink("Докладніше", "Details", "Places", new { id = item.Id }) |
                            @Html.ActionLink("Видалити", "Delete", "Places", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (!Model.Places.Any())
{
    <p>В місті немає жодного місця проведення екскурсій.</p>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">До всіх міст</a>
</div>
