@model ExcursionsDomain.Model.City

@{
    ViewData["Title"] = @Model.Name;
}

<h1 class="display-4">@Model.Name</h1>
<hr />

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
    </dl>
</div>
<hr />

@if (Model.Places.Any())
{
    <h4 class="cat-details-header">Місця проведення екскурсій в цьому місті:</h4>
    <div class="cat-container">
        @foreach (var item in Model.Places.OrderBy(c => c.Name))
        {
            <div class="card border-dark" style="width:100%">
                <div class="card-body card-cat-inner">
                    <div>
                        <h4 class="card-title">@item.Name</h4>
                        <p class="card-text">Місто: @item.City.Name</p>
                        <p class="card-text">Адреса: @item.Adress</p>
                    </div>

                    <div class="card-cat-btns">
                        @Html.ActionLink("Докладніше", "Details", "Places", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                        @Html.ActionLink("Редагувати", "Edit", "Places", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                        @Html.ActionLink("Видалити", "Delete", "Places", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (!Model.Places.Any())
{
    <h5>В місті немає жодного місця проведення екскурсій.</h5>
}
<div class="cat-details-btns">
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a>
    <a class="btn btn-outline-info" asp-action="Index">До всіх міст</a>
</div>
