@model ExcursionsDomain.Model.Visitor

@{
    ViewData["Title"] = "Видалення";
}

<h3>Чи впевнені ви, що хочете видалити користувача: @Html.DisplayFor(model => model.Name)</h3>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="form-group cat-details-btns filter-btn-box">
        <input type="hidden" asp-for="Id" />
        <input class="btn btn-outline-danger" type="submit" value="Видалити" />
        <a class="btn btn-outline-info" asp-action="Index">До всіх користувачів</a>
    </form>
</div>
