@model IEnumerable<ExcursionsDomain.Model.Visitor>

@{
    ViewData["Title"] = "Коистувачі";
}

<h1>Користувачі</h1>

<p>
    <a asp-action="Create">Створити користувача</a>
</p>
@if (Model.Any())
{
    <div class="cat-container">
        @foreach (var item in Model.OrderBy(c => c.Name))
        {
            <div class="card border-dark" style="width:100%">
                <div class="card-body card-cat-inner">
                    <div>
                        <h4 class="card-title">@item.Name</h4>
                        <p class="card-text">Email: @item.Email</p>
                        <p class="card-text">Номер телефону: @item.PhoneNumber</p>
                    </div>

                    <div class="card-cat-btns">
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Докладніше</a>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (!Model.Any())
{
    <h5>Немає користувачів.</h5>
}